.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px auto;
  gap: 100px;
  font-size: large;
  font-weight: 700;
}
.fetchBtn {
  width: 300px;
  height: auto;
  background-color: black;
  color: aliceblue;
  font-size: 14px;
  font-weight: bold;
}
body {
  background-color: cadetblue;
}
